* {
  margin: 0;
  padding: 0;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  margin: 0 2.5rem;
}

.App {
  margin: 1rem;
  background-color: #032541;
}

.nav_bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  background-color: #032541;
}

.heading {
  color: #0077d2;
  padding: 2rem;
  font-size: larger;
}

input {
  height: 2rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  outline: none;
  padding: 0.5rem;
  margin-left: 2rem;
}

input::placeholder,
input[type="date"] {
  color: black;
  font-size: medium;
  font-weight: 600;
}

button {
  padding: 1rem;
  width: 8rem;
  background-color: #0077d2;
  color: #032541;
  font-size: 1.2rem;
  font-weight: 700;
  outline: none;
  border: none;
  border-radius: 2rem;
  transition: 0.5s;
  margin: 2rem 2rem;
}

button:hover {
  cursor: pointer;
}
