.card {
  max-height: 32rem;
  width: 17rem;
  margin: 0 1.3rem 1.4rem 0;
  background-color: black;
  overflow: hidden;
  position: relative;
}

.poster img {
  width: 100%;
  max-height: 25rem;
}

.movie_info {
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: flex-start;
  padding: 0.5rem;
}

.overview {
  color: white;
  transform: translateY(100%);

  position: absolute;
  inset: 0 0 0 0;
  transition: 0.8s ease-in-out;
  padding: 0 1rem;
  text-align: justify;
}

.card:hover .overview {
  transform: translateY(5%);
  padding: 0.8rem;
  background-color: black;
  height: 23rem;
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-size: 0.8rem;
}
